.ServiceCard{
margin-bottom: 100px;
}
.ServiceCard h2,.ServiceCard img{
    margin-bottom: 10px;
    font-size: 1.2rem;
}
.Services .ServiceCard img{
    width: 50px;
}
.serviceIcon{
    color: var(--orange);
}

@media screen and (min-width: 900px) {
    .ServiceCard{
        width: 250px;
        font-size: 0.9rem;
    }   
}