.ServiceCard{
margin-bottom: 100px;
}
.ServiceCard h2,.ServiceCard img{
    margin-bottom: 10px;
    font-size: 1.2rem;
}
.Services .ServiceCard img{
    width: 50px;
}
.serviceIcon{
    color: var(--orange);
}