.rec.rec-arrow:hover,.rec.rec-arrow:active {
background-color: var(--orange) !important;
color: #fff !important;
}
.krmNah{
  box-shadow: 0 0 1px 3px rgb(224, 125, 27) !important;
  background-color: rgba(239, 166, 22, 0.5) !important;
}