.Services {
    flex-direction: column;
    overflow-x: hidden;
    position: relative;
}

.image-and-features {
    width: 100%;
}

.Services .igimg {
    width: 100%;
    margin-bottom: 80px;
}

.Services .feature {
    display: flex;
    align-items: center;
    font-size: 1.2rem;
    color: var(--orange);
    margin-bottom: 60px;
}

.features {
    top: 200px;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.word {
    overflow-x: hidden;
    display: block;
    margin-left: 130px;
    font-size: 2.5rem;
    background: var(--qnw);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.word1 {
    transition: all 2s ease-in-out;
    /* animation: clip1 6s infinite; */
}

.word1::before {
    animation: clip1 6s infinite;
    max-width: 200px;
    content: "חשיפות";
}

.animated-title {
    display: flex;
    justify-content: center;
}

.animated-title span {
    position: absolute;
    margin-right: auto;
    margin-left: -130px;
    font-size: 2.5rem;
}

@keyframes clip1 {
    25% {
        max-width: 0px;
    }

    75% {
        max-width: 200px;
        content: "לקוחות";
    }

    100% {
        max-width: 0px;
        content: "מכירות";
    }

}

@media screen and (min-width: 900px) {
    .Services .igimg {
        width: 60%;
    }

    .Services .ServiceCard {
        margin: 12px;
    }

    .Services {
        display: grid;
        grid-template-areas:
            ' SectionHeading SectionHeading sectionTitle sectionTitle'
            ' cards cards image-and-features image-and-features';
    }

    .sectionTitle {
        grid-area: sectionTitle;
    }

    .SectionHeading {
        grid-area: SectionHeading;
    }

    .image-and-features {
        grid-area: image-and-features;
        display: flex;
        justify-content: space-around;
    }

    .cards {
        grid-area: cards;
        display: flex;
        width: 550px;
        margin: 50px;
        height: 500px;
        flex-wrap: wrap;
    }

    .features {
        margin-left: 15%;
    }
}