.Clients{
flex-direction: column;
overflow-x: hidden;
}
.clients-slider img{
    width: 80%;
}
.clients-slider{
    background-color: #fff;
    width: 100vw;
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
}