.Clients{
flex-direction: column;
overflow-x: hidden;
}
.clients-slider img{
    width: 80%;
}
.clients-slider{
    background-color: #fff;
    width: 100vw;
    height: 300px;
    display: flex;
    justify-content: center;
    gap: 50px;
    align-items: center;
}

@media screen and (min-width: 900px) {
    .clients-slider img{
        width: 400px;
    }
    .favicons{
        display: flex;
        flex-direction: row;
    }
    .favicons .ClientFavicon{
        padding: 25px;
        margin: 150px 0px;
    }
    .favicons .ClientFavicon:nth-child(even){
        transform: translateY(50px);
    }
}